@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
  /* COLORS */
  --primary-clr: #ff9f0a;
  --secondary-clr: #142032;
  --gray-clr: #8692a6;
  --white-clr: #ffffff;
  /* FONT */
  --light-font: 300;
  --regular-font: 400;
  --medium-font: 500;
  --semi-bold-font: 600;
  --bold-font: 700;
}

.navbar-brand {
  order: 2 !important;
  margin-left: 2rem;
}

.form-switch {
  order: 3;
}

.navbar-toggler {
  order: 1;
}

.navbar-collapse {
  z-index: 40;
  order: 4;
  background-color: var(--white-clr);
}

.nav__buttons {
  display: flex;
  flex-direction: column;
}

nav .form-switch {
  cursor: pointer;
  margin-left: 0;
  border: 0;
  background: transparent;
}

.form-check-input:checked {
  background-color: var(--primary-clr);
  border-color: var(--secondary-clr);
}

/* INTRO */

.intro {
  padding: 6rem 0;
}

.memoji__1, .memoji__2, .memoji__3, .memoji__4 {
  height: 70px;
}

.memoji__1 {
  position: absolute;
  /* top: 3rem;
    right: 15rem; */
  left: 350px;
  top: 145px;
}

.memoji__2 {
  position: absolute;
  top: 145px;
  left: 10px;
}

.memoji__3 {
  position: absolute;
  top: 350px;
  left: 40px;
}

.memoji__4 {
  position: absolute;
  top: 350px;
  left: 300px;
}

.intro h6 {
  color: var(--gray-clr)
}

.intro h1 {
  font-weight: var(--semi-bold-font);
  font-size: 21px;
  line-height: 32px;
}

.intro__highlight {
  color: var(--primary-clr)
}

.intro__paragraph {
  font-weight: var(--regular-font);
  margin: 2rem auto;
  width: 222px;
  font-size: 12px;
  line-height: 16px;
}

/* main {
  position: relative;
  height: 56px;

}  */

.about__heading {
  width: 323px;
  margin: 0 auto;
  line-height: 32px;
  font-size: 21px;
  font-weight: var(--semi-bold-font);
}

.about__paragraph {
  width: 333px;
  margin: 2rem auto;
  font-size: 12px;
  line-height: 18px;
  font-weight: var(--regular-font);
  text-transform: capitalize;
}

.about__image {
  margin-bottom: 3rem;
}

.about__img {
  background-color: rgba(255, 157, 10, 0.486);
  background-size: 145px 145px;
  border-radius: 50%;
  padding: 2rem;
  margin-bottom: 1rem;
}

.about .btn-lg {
  border-radius: 20px;
  background-color: var(--primary-clr);
  padding: 15px 38px;
  border: none;
  margin-bottom: 3rem;
}

.plus-icon {
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}

/* CTA SECTION */

.cta {
  position: relative;
  max-width: 1440px;
  height: 600px;
  background-color: var(--secondary-clr);
}

.cta__top-image {
  /* position: absolute; */
  /* top: 0; */
  /* left: 250px; */
  /* bottom: -99.97%; */
}

.cta__emoji-1 {
  background: url('../images/Musacae.svg');
  background-repeat: no-repeat;
  /* position: absolute;
  top: 84px;
  left: 180px; */
}

.cta h4 {
  color: var(--white-clr)
}

.cta .btn-light {
  background: transparent;
  border: none;
  color: var(--white-clr);
  /* position: absolute; */
  left: 50px;
  top: 500px;
  margin-bottom: 2rem;
}

.cta__heading {
  /* position: absolute; */
  top: 361px;
  width: 311px;
  margin: 3rem auto;
  left: 60px;
  font-size: 21px;
  line-height: 31.5px;
  font-weight: var(--semi-bold-font);
}

.cta__bottom-image {
  /* position: relative; */
  /* left: 59px;
  top: 200px; */
}

.right-hand {
  position: absolute;
  top: 230px;
  left: -150px;
  bottom: 0%;
}

.left-hand {
  position: absolute;
  right: -140px;
  top: 230px;
  bottom: 0%;
}

*/
/* FOOTER */

footer {
  position: absolute;
  width: 100vw;
  height: 553px;
  bottom: 0;
  left: 0px;
  right: 0px;
  padding: 3rem 0 7rem 0;
  background-color: var(--secondary-clr);
}

.footer {
  padding: 3rem 0 3rem 0;
  background-color: var(--secondary-clr);
}

.footer__paragraph {
  margin: 1rem auto;
  line-height: 18px;
  font-size: 12px;
  /* width: 380px; */
  font-weight: var(--light-font);
}

.footer__links a {
  color: var(--white-clr) !important;
}

.footer__links a:hover {
  color: var(--primary-clr) !important;
}

.footer__links {
  font-weight: var(--regular-font);
  font-size: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.footer__links li {
  margin-top: 1rem;
}

.social__links {
  margin: 2rem auto;
  width: 133.96px;
  display: flex;
  justify-content: space-between;
}

.social__links path:hover {
  fill: var(--primary-clr)
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  /* NAVBAR */
  .navbar-brand {
    order: 1 !important;
  }
  .form-switch {
    order: 3 !important;
  }
  .navbar-collapse {
    background-color: transparent;
    order: 2 !important;
  }
  nav .container {
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ml-auto {
    margin-left: auto !important;
  }
  .nav-item {
    font-weight: var(--medium-font) !important;
  }
  .nav-link {
    margin-left: 2rem !important;
  }
  nav .form-switch {
    cursor: pointer;
    margin-left: 2rem;
    border: 0;
    background: transparent;
  }
  .nav__buttons {
    margin-left: 4rem;
    flex-direction: row;
  }
  .nav__buttons button {
    margin-left: 2rem;
  }
  .nav__buttons .btn-primary {
    background-color: var(--primary-clr);
    border: none;
    border-radius: 20px;
    font-weight: var(--medium-font);
    font-size: 16px;
    line-height: 16px;
    width: 241px;
  }
  .nav__buttons .btn-primary:hover {
    color: var(--secondary-clr);
  }
  .nav__buttons .btn-light:hover {
    border: 1px solid var(--secondary-clr)
  }
  /* INTRO */
  .intro {
    position: relative;
    height: 745px;
    padding: 4rem 0;
  }
  .intro h6 {
    color: var(--gray-clr)
  }
  .intro h1 {
    font-weight: var(--semi-bold-font);
    font-size: 48px;
    line-height: 72px;
  }
  .intro__highlight {
    color: var(--primary-clr)
  }
  .intro__paragraph {
    font-weight: var(--regular-font);
    margin: 3rem auto;
    width: 416px;
    font-size: 18px;
    line-height: 21px;
  }
  .memoji__1, .memoji__2, .memoji__3, .memoji__4 {
    height: auto;
  }
  .memoji__1 {
    position: absolute;
    left: 1000px;
    top: 80px;
  }
  .memoji__2 {
    position: absolute;
    top: 80px;
    left: 150px;
  }
  .memoji__3 {
    position: absolute;
    top: 350px;
    left: 450px;
  }
  .memoji__4 {
    position: absolute;
    top: 370px;
    left: 850px;
  }
  /* ABOUT SECTION */
  .about {
    position: relative;
    height: 1100px;
    /* padding: 0 0 50rem 0; */
  }
  .about__heading {
    width: 789px;
    margin: 0 auto;
    font-size: 36px;
    line-height: 48px;
  }
  .about__paragraph {
    width: 688px;
    margin: 2rem auto;
    font-size: 18px;
    line-height: 27px;
  }
  .about__image {
    margin-bottom: 0;
  }
  .about__image-1 {
    position: absolute;
    left: 118px;
    top: 432px;
  }
  .about__image-2 {
    position: absolute;
    left: 377px;
    top: 569px;
  }
  .about__image-3 {
    position: absolute;
    left: 626px;
    top: 459px;
  }
  .about__image-4 {
    position: absolute;
    left: 961px;
    top: 299px;
  }
  .about__image-5 {
    position: absolute;
    left: 1146px;
    top: 494px;
  }
  .about__image-6 {
    position: absolute;
    left: 874px;
    top: 691px;
  }
  .about .btn-lg {
    position: absolute;
    left: 543px;
    top: 969px;
    border-radius: 20px;
    background-color: var(--primary-clr);
    padding: 15px 38px;
    border: none;
  }
  .plus-icon {
    margin-left: 1rem;
    margin-bottom: 0.2rem;
  }
  /* CTA SECTION */
  .cta {
    position: relative;
    max-width: 1440px;
    height: 900px;
    background-color: var(--secondary-clr);
  }
  .cta__top-image {
    position: absolute;
    /* left: 104.11%; */
    /* right: -104.11%; */
    top: 0;
    left: 643px;
    /* bottom: -99.97%; */
  }
  .cta__emoji-1 {
    position: absolute;
    top: 84px;
    left: 643px;
  }
  .cta h4 {
    color: var(--white-clr)
  }
  .cta .btn-light {
    background: transparent;
    border: none;
    color: var(--white-clr);
    position: absolute;
    left: 550px;
    top: 600px
  }
  .cta__heading {
    position: absolute;
    top: 361px;
    width: 710px;
    margin: 0 auto;
    left: 360px;
    font-size: 48px;
    line-height: 72px;
    font-weight: var(--semi-bold-font);
  }
  .cta__bottom-image {
    position: absolute;
    left: 159px;
    top: 644px;
  }
  .right-hand {
    position: absolute;
    /* left: 1761.88px; */
    top: 230px;
    bottom: 0%;
  }
  .left-hand {
    position: absolute;
    /* left: 0%; */
    right: 0px;
    top: 230px;
    bottom: 0%;
  }
  /* FOOTER */
  footer {
    position: relative;
    width: 100vw;
    height: 430px;
    right: 0px;
    left: 0px;
    bottom: 0;
    padding: 3rem 0 10rem 0;
    background-color: var(--secondary-clr);
  }
  .footer {
    background-color: var(--secondary-clr);
    margin-bottom: 0;
    /* border: 1px solid red; */
  }
  .footer__paragraph {
    margin: 3rem auto;
    line-height: 18px;
    font-size: 12px;
    width: 414px;
    font-weight: var(--light-font);
  }
  .footer__links a {
    color: var(--white-clr) !important;
  }
  .footer__links a:hover {
    color: var(--primary-clr) !important;
  }
  .footer__links {
    font-weight: var(--regular-font);
    font-size: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 673px;
  }
  .social__links {
    margin: 2rem auto;
    width: 133.96px;
    display: flex;
    justify-content: space-between;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}