@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
  /* COLORS */
  --primary-clr: #ff9f0a;
  --secondary-clr: #142032;
  --gray-clr: #8692a6;
  --white-clr: #ffffff;
  /* FONT */
  --light-font: 300;
  --regular-font: 400;
  --medium-font: 500;
  --semi-bold-font: 600;
  --bold-font: 700;
}

.navbar-brand {
  order: 2 !important;
  margin-left: 2rem;
}

.form-switch {
  order: 3;
}

.navbar-toggler {
  order: 1;
}

.navbar-collapse {
  order: 4;
  background-color: var(--white-clr);
}

.nav__buttons {
  display: flex;
  flex-direction: column;
}

nav .form-switch {
  cursor: pointer;
  margin-left: 0;
  border: 0;
  background: transparent;
}

.form-check-input:checked {
  background-color: var(--primary-clr);
  border-color: var(--secondary-clr);
}

/* FOOTER */

footer {
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 553px;
  bottom: 0;
  left: 0px;
  padding: 3rem 0 7rem 0;
  background-color: var(--secondary-clr);
}

.footer__paragraph {
  margin: 1rem auto;
  line-height: 18px;
  font-size: 12px;
  /* width: 380px; */
  font-weight: var(--light-font);
}

.footer__links a {
  color: var(--white-clr) !important;
}

.footer__links a:hover {
  color: var(--primary-clr) !important;
}

.footer__links {
  font-weight: var(--regular-font);
  font-size: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.footer__links li {
  margin-top: 1rem;
}

.social__links {
  margin: 2rem auto;
  width: 133.96px;
  display: flex;
  justify-content: space-between;
}

.social__links path:hover {
  fill: var(--primary-clr)
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  /* NAVBAR */
  .navbar-brand {
    order: 1 !important;
  }
  .form-switch {
    order: 3 !important;
  }
  .navbar-collapse {
    background-color: transparent;
    order: 2 !important;
  }
  nav .container {
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ml-auto {
    margin-left: auto !important;
  }
  .nav-item {
    font-weight: var(--medium-font) !important;
  }
  .nav-link {
    margin-left: 2rem !important;
  }
  nav .form-switch {
    cursor: pointer;
    margin-left: 2rem;
    border: 0;
    background: transparent;
  }
  .nav__buttons {
    margin-left: 4rem;
    flex-direction: row;
  }
  .nav__buttons button {
    margin-left: 2rem;
  }
  .nav__buttons .btn-primary {
    background-color: var(--primary-clr);
    border: none;
    border-radius: 20px;
    font-weight: var(--medium-font);
    font-size: 16px;
    line-height: 16px;
    width: 241px;
  }
  .nav__buttons .btn-primary:hover {
    color: var(--secondary-clr);
  }
  .nav__buttons .btn-light:hover {
    border: 1px solid var(--secondary-clr)
  }
  /* FOOTER */
  footer {
    position: absolute;
    width: 100vw;
    height: 430px;
    left: 0px;
    bottom: 0;
    padding: 3rem 0 10rem 0;
    background-color: var(--secondary-clr);
  }
  .footer__paragraph {
    margin: 3rem auto;
    line-height: 18px;
    font-size: 12px;
    width: 414px;
    font-weight: var(--light-font);
  }
  .footer__links a {
    color: var(--white-clr) !important;
  }
  .footer__links a:hover {
    color: var(--primary-clr) !important;
  }
  .footer__links {
    font-weight: var(--regular-font);
    font-size: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 673px;
  }
  .social__links {
    margin: 2rem auto;
    width: 133.96px;
    display: flex;
    justify-content: space-between;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}